<div class="container main-container">

  <div class="row">

    <div class="col-md-12">
      <div class="form-group">
        <label>Buscar:</label>

        <input [(ngModel)]="buscar"
               type="text"
               (keyup.enter)="buscarPelicula()"
               name="buscar"
               placeholder="Buscar película..."
               class="form-control">

      </div>

    </div>

  </div>

<div class="row animated fadeIn fast">
  <div class="card-columns">
  <div class="card" *ngFor="let pelicula of _ps.peliculas">
    <img class="card-img-top img-fluid" [src]="pelicula | peliculaImagen" alt="pelicula.orginal_title">
    <div class="card-block">
      <h4 class="card-title">{{ pelicula.title }}</h4>
      <p class="card-text text-justify">{{ pelicula.overview | slice:0:200 }}...</p>
      <button [routerLink]="['/pelicula', pelicula.id, 'buscar', buscar]"
              type="button"
              class="btn btn-outline-primary btn-block">
          Ver más...
      </button>
    </div>
  </div>
</div>

</div>
