

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1>PeliculasApp</h1>
      <p class="lead"> Aplicación para usar el API de themoviedb </p>
  </div>
</div>

<div class="container">
  <br>



<app-galeria [peliculas]="cartelera | slice:0:6"
              titulo='Películas en cartelera'> </app-galeria>

<app-galeria [peliculas]="populares | slice:0:6"
              titulo='Películas populares'> </app-galeria>

<app-galeria [peliculas]="kids | slice:0:6"
              titulo='Películas para los niños'> </app-galeria>  


</div>
