

<div *ngIf="pelicula"
      class="container main-container animated fadeIn fast">

      <h1> {{ pelicula.original_title }}  <small> ({{ pelicula.title }})</small></h1>

      <div class="row">

          <div class="col-md-5">

            <img [src]="pelicula | peliculaImagen:true"
                [alt]="pelicula.original_title"
                class="img-thumbnail img-fluid">
              <br>


          </div>

          <div class="col-md-7">

            <h3> Sinopsis </h3>
            <hr>
            <p>
                {{ pelicula.overview }}

            </p>

            <h3> Frase celebre </h3>
            <p>

                {{ pelicula.tagline }}

            </p>

            <p>

            Popularidad: <span class="badge badge-primary"> {{ pelicula.popularity | number: '1.2-2' }}</span>
            <br>
            Votos:  <span class="badge badge-primary"> {{ pelicula.vote_average }} </span>

            </p>

            <h4> Genero </h4>

              <span *ngFor="let genre of pelicula.genres">
                  {{ genre.name }}
              </span>

              <div class="container">
                  <hr>
                <button [routerLink]="['/' + retorno, busqueda ]"
                        class="btn btn-outline-danger"
                        type="button">
                    Regresar
                </button>

              </div>

          </div>


      </div>



</div>
